<div *ngIf="!isCaptured">
    <div class="video-container">
        <video [class.show]="!isCaptured" [class.hide]="isCaptured" #video id="video" [width]="WIDTH" [height]="HEIGHT"
            autoplay></video>
        <canvas [class.show]="!isCaptured" [class.hide]="!isCaptured" #canvas id="canvas" [width]="WIDTH"
            [height]="HEIGHT"></canvas>
    </div>

    <div class="snap-container">
        <!-- material button to call capture -->
        <button (click)="capture()" id="capture" mat-raised-button
            color="primary" class="capture-button">
            Capture Photo and Register
        </button>
    </div>
</div>
<div *ngIf="isCaptured" class="reg-container">
<div>
    <mat-spinner *ngIf="!isRegistered" class="reg-complete" [diameter]="100" [strokeWidth]="10"></mat-spinner>
</div>
    <div  class="reg-complete" *ngIf="isRegistered">
        Thank you for registering.
    </div>
</div>