<div class="solution" fxLayout="row" fxLayoutAlign="center center">

    <div class='sub-solution' fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/icons/speech-to-text-512-color.png" class="icons">
        Speech to Text
    </div>

        <div class="mat-display-3 even-large-text" fxLayout="column" fxLayoutAlign="center center">
            +
        </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/icons/text-to-speech-512-color.png" class="icons">
        Text to Speech
    </div>

        <div class="mat-display-3 even-large-text" fxLayout="column" fxLayoutAlign="center center">
            +
        </div>

    <div fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/icons/TensorFlow_logo.png" class="icons">
        Tensorflow
    </div>

        <div class="mat-display-3 even-large-text" fxLayout="column" fxLayoutAlign="center center">
            +
        </div>
    <div fxLayout="column" fxLayoutAlign="center center">
        <img src="assets/icons/Kubernetes_logo.png" class="icons">
        Kubernetes
    </div>
    <div class="mat-display-3 even-large-text" fxLayout="column" fxLayoutAlign="center center">
         = 
    </div>
    <div class="mat-display-2 typearea" style="text-align: end;">
        <b>Interview Automation <br>That's 
            <span style="color:#0076d6;"
               class="txtrotate"
               id="textrotate1"
               data-period="2000"
               data-rotate='[ "Engaging.","Smart.","Simple.", "Scalable.", "Efficient.", "Fun!" ]'></span></b>
          
    </div>
    <div class="background-wave" fxLayoutAlign="center center">
        <app-wave [hight]="innerHeight" [width]="innerWidth" [lineWidth]="150" [color]="color"></app-wave>
    </div>
</div>
