<mat-card class="info-cards" >
    <mat-card-header>
        <mat-card-title>Total Devices Registered: {{number+10}}</mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card class="info-cards"  >
    <mat-card-header>
        <mat-card-title>Total Disabled Devices: {{2}}</mat-card-title>
    </mat-card-header>
</mat-card>

<mat-card  class="info-cards" >
    <mat-card-header>
        <mat-card-title>Total Active Devices: {{number}}</mat-card-title>
    </mat-card-header>
</mat-card>
<mat-card  class="info-cards" >
    <mat-card-header>
        <mat-card-title>Total Inactive Devices: {{8}}</mat-card-title>
    </mat-card-header>
</mat-card>