<div class="info-container">
    <mat-spinner *ngIf="!dataloaded"></mat-spinner>
    <mat-card id="info-card" class="ifo-card" *ngIf="dataloaded" >
        <div >
        <mat-card-title>
            {{heading}}
        </mat-card-title>
        <br>
        <mat-card-subtitle>
            {{subheading}}
        </mat-card-subtitle>
        <br>
        <app-wave [hight]="innerHeight*0.20" [width]="innerWidth*0.55" [lineWidth]="3" [color]="color"></app-wave>
        <mat-card-content>
            {{text}}
        </mat-card-content>
        <br><br>
        <mat-card-actions>
            <button class='button' mat-raised-button color="accent" type="start" (click)='next()'>Next Question</button>
        </mat-card-actions>
    <app-tts></app-tts>
    </div>
    </mat-card>
    
</div>